node_modules

.cache
.env
.vercel
.output

/build/
/public/build
/api/index.js
/api/index.js.map
/app/styles/app.css
/api/_assets

# Supabase
**/supabase/.branches
**/supabase/.temp
**/supabase/.env

prisma/dev.db
.env
.env.production

.idea
api/index.js.map
app/styles/app.css
api/index.js.map
api/index.js.map
app/styles/app.css
